* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1F1F31;
    --gray-color: #cacaca;
    --white-color: #FFFFFF; 
}
.body {
    font-family: 'Poppins';
}

.background {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color);
    flex-direction: column;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Poppins';
}

.title-container h2 {
    margin: 0;
    margin-right: 200px;
    font-family: 'Poppins';
}

.title-container .positions {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
}

.job-list {
    display: flex;
    flex-direction: column; 
}

.jobapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
    padding: 15px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    font-family: 'Poppins';
}

.jobapp:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.job-info {
    display: flex;
    align-items: center;
}

.job-info span {
    margin-left: 10px; 
}

.job-location {
    display: flex;
    align-items: center;
}

.job-location .location {
    margin-right: 10px; 
    font-family: 'Poppins', sans-serif; 
}

.jobapp h3 {
    margin: 0;
    margin-right: 15px; 
    font-family: 'Poppins', sans-serif; 
}

.jobapp .more {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px; 
}

.jobapp .more i {
    margin-left: 5px;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
}






